<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Авторизация</title>
</head>

<body class="text-center">
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <main role="main" class="inner cover">
    <h1 class="cover-heading">Авторизуйтесь с помощью</h1>
    <p class="lead">
      <a href="/authorize/google" class="btn btn-lg btn-secondary">Google</a>
    </p>
  </main>
</div>
</body>
</html>

